{% extends 'shop/base.html' %}
{% load static %}
{% block title %} Личный кабинет {% endblock title %}
{% block content %}
    <div class="container heig">

        <h3 class="text-center">Личный кабинет пользователя {{ request.user }}</h3>
        <hr>
        <h4 class="text-center">Ваши заказы</h4>
        <table class="table">
            <tr style="background: #4d6de6">
                <td>Номер заказа</td>
                <td>Дата заказа</td>
                <td>Статус заказа</td>
                <td>Стоимость заказа</td>
                <td>Детали заказа</td>
                <td></td>
            </tr>

            {% for item in order %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.total }}</td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#exampleModal-{{ item.id }}">Детали заказа
                        </button>
                    </td>
                </tr>
            {% endfor %}

        </table>

        <!-- Modal -->
        {% for item in order %}
            <div class="modal fade" id="exampleModal-{{ item.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Заказ № {{ item.id }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <table class="table">
                                {% for order_item in item.items.items.all %}
                                    <tr>
                                        <td>{{ order_item.product.title }}</td>
                                        <td>{{ order_item.qty }} шт.</td>
                                        <td>{{ order_item.item_total }} BYN</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td>Итого:</td>
                                    <td><strong>{{ item.items.cart_total }} BYN</strong></td>
                                </tr>

                            </table>

                            <h3>Покупатель</h3>
                            <p>Имя: {{ item.first_name }}</p>
                            <p>Фамилия: {{ item.last_name }}</p>
                            <p>Телефон: {{ item.phone }}</p>
                            <h3>Тип доставки</h3>

                            <p>{% if item.buying_type == 'self' %} Самовывоз
                            {% else %} Доставка  <p>{{ item.address }}{% endif %}</p>
                            </p>

                            <p>{% if item.buying_type == 'delivery' %}  {% endif %}</p>
                            <h3>Комментарии к заказу</h3>
                            <p>{{ item.comments }}</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}